/* Form section */

label.subtitle {
    display: block;
    width: 100%;
    font-size: clamp(1.2rem, 2.5vw, 1.4rem);
    text-align: center;
    margin-bottom: 1.5rem;
}

div.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

input.input {
    width: 10vw;
    height: 2.2rem;
    border: 2px solid transparent;
    padding-left: 0.5rem;
    margin-bottom: 20px;
}

input.input::placeholder {
    color: var(--input-placeholder-color);
}

input.input:focus-visible {
    border-color: var(--input-border-light);
    box-shadow: 0 0 0.5rem 0.1rem var(--input-border-shadow);
}

input.input:hover {
    border-color: var(--input-border-light);
    box-shadow: 0 0 0.5rem 0.1rem var(--input-border-shadow);
}

button.btn-form {
    padding: 10px;
    background-color: var(--button-bg);
    color: var(--text-fg-dark);
    cursor: pointer;
    border: 2px solid transparent;
}

button.btn-form:focus-visible {
    border: 2px solid var(--active-bg);
}

section#wrapper.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

div.error {
    width: 14vw;
    background-color: var(--error-bg);
    color: var(--error-fg);
    padding: 5px 0px 10px 5px;
    animation: error-open 300ms ease-in-out;
}

span.error.icon-container {
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
}

p.error-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

span#description-error {
    margin-left: 5px;
}

@keyframes error-close {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-40%);
    }
}

@keyframes error-open {
    from {
        transform: translateX(-40%);
    }

    to {
        transform: translateX(0);
    }
}

div.result {
    width: 14vw;
    background-color: var(--result-bg);
    color: var(--result-fg);
    padding: 5px 0px 10px 5px;
    animation: result-open 300ms ease-in-out;
}

span.result.icon-container {
    cursor: pointer;
}

p.result-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

span.result-description {
    font-weight: bolder;
}

@keyframes result-close {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(+40%);
    }
}

@keyframes result-open {
    from {
        transform: translateX(+40%);
    }

    to {
        transform: translateX(0);
    }
}

/* About section */

article.inserted-component#lg-container {
    overflow-y: auto;
    overflow-x: hidden;
    resize: horizontal;
}

h3.subtitle {
    font-size: clamp(10px, 20vw, 25px);
    text-align: center;
    padding: 5px;
}

p.text {
    margin: 10px 0px;
    text-align: justify;
}

a.text.link {
    color: inherit;
    border-bottom: 2px solid var(--active-bg);
    text-decoration: none;

}

a.text.link:hover {
    color: var(--active-bg);
}

section.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}