nav.nav-bar.light {
    background-color: var(--base-bg-light);
    transition: 0.2s all;
}

button.nav-btn.light {
    background-color: var(--navbar-btn-light);
    color: var(--text-fg-light);
    transition: 0.2s all;
}

i#theme.light {
    background-color: var(--navbar-btn-light);
    color: var(--text-fg-light);
    transition: 0.5s all;
}

main.content.light {
    background-color: var(--base-bg-light);
    transition: 0.2s all;
}

article.inserted-component.light {
    background-color: var(--lvl2-bg-light);
    color: var(--text-fg-light);
    box-shadow: 10px 10px 5px 0px var(--shadow-light);
    transition: 0.5s all;
}