:root {
    --header-bg: #7F7EFF;
    --base-bg-light: #FFFFFF;
    --lvl2-bg-light: #E4E4E4;
    --navbar-btn-light: #E9E9ED;
    --navbar-btn-dark: #353535;
    --text-fg-light: #000;
    --base-bg-dark: #202020;
    --lvl2-bg-dark: #303030;
    --text-fg-dark: #FFF;
    --input-placeholder: #aaa;
    --active-bg: #06f;
    --shadow-light: rgba(0, 0, 0, 0.5);
    --shadow-dark: rgba(255, 255, 255, 0.2);
}

