<article class="inserted-component">
    <label for="methodInputBA" class="subtitle" id="methodBA">
        Número de lados máximo del polígono:
    </label>
    <div class="form-group">
        <input type="text" class="input" id="methodInputBA" placeholder="1245">
        <button class="btn-form" id="send">
            Calcular
        </button>
    </div>
    <div class="error-container" id="error-container">
        <div class="error">
            <span class="error icon-container">
                <i class="fas fa-times error-icon"></i>
            </span>
        </div>
    </div>
</article>

<!-- <p class="error-message" id="errorBA">
    <span class="error-icon">
        <i class="fas fa-exclamation-triangle"></i>
    </span>
    <span class="error-text">
        El número de lados debe ser un número entero positivo.
    </span>
</p> -->