<article class="inserted-component" id="about">
    <h3 class="subtitle" id="about-title">
        Acerca de esta página
    </h3>
    <p class="text">
        Bienvenido a la página, su propósito es que el usuario juegue con los métodos matemáticos para calcular PI sin necesidad de programar o usar las formulas.
    </p>
    <p class="text">
        Los métodos matemáticos utilizados para la creación de está página no fueron creados por mi. Puedes visitar al creador de contenido de donde saque las formulas para llevar a cabo este sitio.
    </p>
    <a href="https://www.youtube.com/user/QuantumFracture" target="_blank" class="text link">Quantum Fracture</a>
    <p class="text">
        También dejo un video hecho por Quantum Fracture donde explica con lujo de detalle cada uno de los métodos:
    </p>
    <iframe width="400" 
            height="300" 
            src="https://www.youtube.com/embed/DQ5qqHukkAc" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen="">
    </iframe>
    <p class="text">
        Si gustas observar algún proyecto mio, o ver el código de esta página puedes visitarme en mi perfil de github.
    </p>
    <a href="https://github.com/Jorgemacias-12/" target="_blank" class="fa fa-github text icon" aria-hidden="true"></a>
    <p class="text"> ¡Gracias por visitar la página! </p>
</article>