<article class="inserted-component light" id="about">
    <h3 class="subtitle" id="about-title">
        Acerca de esta página
    </h3>
    <p class="text">
        El objetivo de esta página es ayudar al usuario a calcular el valor de &pi; utilizando los métodos de
        Arquimedes, Montecarlo y Basilea.
    </p>
    <p class="text">
        La idea de utilizar estos métodos para encontrar el valor de &pi; no fue mía, el creador de contenido <a
            class="text link" href="https://www.youtube.com/channel/UCbdSYaPD-lr1kW27UJuk8Pw" target="_blank"> Quantum
            Fracture </a>, hizo un video donde explica el funcionamiento de los métodos y una implementación en una
        aplicación de consola hecha en C++.
    </p>
    <p class="text">
        El motivo de ser de esta página, es proveer al usuario un medio dondé jugar con el valor de &pi; sin necesidad
        de saber de programación, solo necesitas introducir valores numericos en los campos de texto y presionar el
        botón de calcular, para posteriormente retornar el valor de &pi; correspondiente al método utilizado.
    </p>
    <section class="video-container">
        <iframe title="QuantumFracture pi" width="400" height="300" src="https://www.youtube.com/embed/DQ5qqHukkAc"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen="">
        </iframe>
    </section>

    <p class="text">
        ¡Gracias por visitar esta página!
        <a class="text link" href="https://github.com/Jorgemacias-12/CalcPi-web" target="_blank" rel="noopener noreferrer">Puedes encontrar el código fuente aquí</a>
    </p>

    <!-- <p class="text">
        Si gustas observar algún proyecto mio, o ver el código de esta página puedes visitarme en mi perfil de github.
    </p>
    <a href="https://github.com/Jorgemacias-12/" target="_blank" class="fa fa-github text icon" aria-hidden="true"></a>
    <p class="text"> ¡Gracias por visitar la página! </p> -->
</article>